doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')

    body
        .container
            block content

    script(src='/jquery/dist/jquery.min.js')
    script(src='/parsleyjs/dist/parsley.min.js')
    script(src='/js/send.js')